body {
    position: relative;
}

.modal{
    display: none;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 3;
    padding-top: 5.625em;
    background-color: rgba(196, 196, 196, 0.4);
}

.hidden{
    display: none;
}

/* Elements avec cursor: pointer par défaut */
.closeBtn, .mediaWrapper.inMain .thumb-imgfull .thumb-img, .navBtn{
    cursor: pointer;
}




/*************************** Photograph Header *********************************/


.photograph-header {
    background-color: #FAFAFA;
    box-sizing: border-box;
    width: 85%;
    margin: 0 auto;
    padding: 3em 5em;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.photographer-profile, .user-container {
    flex: 1;
}
.photographer-profile h1{
    font-size: 4em;
    font-weight: normal;
  /*  border: 1px solid black;*/
    margin: 0px;
}

.photographer-profile .text{
  /*  border: 1px solid black;*/
    margin: 0px;
}

.photograph-header .text-location {
    font-size: 1.5em;
    color: #901C1C;
}

.user-container {
    text-align: right;
}




/************** Division contenant les informations supplémentaires en position fixe ************************/


#info{
    position: fixed;
    right: 20%;
    bottom: 0%;
    background-color: #DB8876;
    display: flex;
    flex-direction: row;
    border-radius: 0.3125em 0.3125em 0 0;
    z-index: 2;
}

#info p{
    color: black;
    font-weight: bold;
    margin: 1.5em 2em;
}

#info #totalLikes{
    text-align: right;
    margin-right: 0;
}

#info .fa-heart{
    display: flex;
    align-items: center;
}




/*******************  Division contenant la région de tri **************************/


.sorting {
    margin: 3.125em 6.25em;
    height: 2.5em;
    display: flex;
    flex-direction: row;
}

.listbox-container {
    position: relative;
}

#listbox-label {
    font-size: 1.125em;
    font-weight: bold;
    margin-right: 1.25em;
    padding-top: 1em;
}

/* listbox styles */

.listbox {
    position: relative;
    font-size: 1.125em;
    font-weight: bold; 
    color: white;
    background-color: #901C1C;
    border-radius: 0.3125em;
    box-sizing: border-box;
    width: 10.625em;
    padding: 0.625em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    z-index: 1;
}

.listbox-close{
    height: 4.3125em;
}

.listbox-open{
    height: 10.625em;  
}

.expandBtn{
    cursor: pointer;
    position: absolute;
    right: 0.625em;
    top: 1.3125em;
    background-repeat: no-repeat;
    background-position: center;
    width: 2.25em;
    height: 2.25em;
    z-index: 2;
}

.expandBtn-more{
    background-image: url("../assets/icons/arrow_down.svg");
}
.expandBtn-less{
    transform: rotate(180deg);
}


.listbox .option {
    width: 100%;
    padding-top: 0.9375em;
    position: relative;
    opacity: 1;
}

.listbox .option-selected{
    height: 33.33%;
    border: none;
}

.listbox .option-notSelected{
    display: none;
}

.listbox-open .option::after {
    color: black;
    background-color: #DB8876;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display:flex;
    flex-direction:row;
    align-items: center;
    justify-content: flex-start;
    font-size: inherit;
    font-weight: bold;
    box-sizing: border-box;
    margin-left: -0.625em;
    width: 10.625em;
    z-index: 2;
    opacity: 0;
    transition: opacity 100ms ease-in-out;
}

.listbox-open .option {
    cursor: pointer;
}

.listbox-open .option1::after {
    content: "Popularité";
    border-radius: 0.3125em 0.3125em 0 0;
    margin-top: -0.625em;
    height: 123%;
    padding: 0.625em 0.625em 0 0.625em;
}

.listbox-open .option2 {
    border-top: 0.0625em solid white;
    border-bottom: 0.0625em solid white ;
}

.listbox-open .option2::after {
    content: "Date";
    padding: 0 0.625em 0 0.625em;
    top: -0.0625em;
    height: 105%;
}

.listbox-open .option3::after {
    content: "Titre";
    border-radius: 0 0 0.3125em 0.3125em;
    margin-top: -0.0625em;
    margin-bottom: -0.625em;
    height: 123%;
    padding: 0.125em 0.625em 0.625em 0.625em;
}
.option:hover::after, .option:focus::after {
    opacity: 1;
}



/******************************** Conteneur des media **********************************/


.mediaWrapper{
    box-sizing: border-box;
    margin: 0 6.25em;
    /*transform: translate3d(0%, 0em, 0em);*/
    display : flex;
    flex-direction: row;
}

.mediaWrapper.inMain{
    justify-content: space-between;
    flex-wrap: wrap;
    width: 85%;
    row-gap: 2em;
   /* transform: translate3d(0%, 0em, 0em);*/
}

.mediaWrapper.inLightbox{
    justify-content: flex-start;
    flex-wrap: nowrap;
    width: 85%;
    height: 100%;
    margin: 0%;
}

.thumb-imgfull{
    border-radius: 0.3125em;  
}

.thumb-imgfull.inMain{
    width: 21.875em;
}

.thumb-imgfull.inLightbox{
    width: 100%;
}

.thumb-img{
    width: 100%;
    border-radius: inherit;
}
/*
.thumb-img:focus {
    border: 5px solid blue;
}*/

.thumb-img.inMain{
    width: inherit;
    height: 21.875em;
}

.thumb-img.inLightbox{
  /*  height: 34.375em;*/
  height: 60em;
}

.thumb-img video{
    width: inherit;
    height: 100%;
    border-radius: inherit;
}

.caption{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #901C1C;
    font-size: 1.5em;
    border: 1px solid black;
    height: 2.5em;

}

.title-caption{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.like-caption-visible{
    display: flex;
}
/*
.mediaCard__like{
    display: flex;
}
*/

.fas {
    display: block;
    width: 1.5em;
    transform: scale(0.88,1);
}

.likeHeart{
    cursor: pointer;
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: right;
    margin-top: 0.25em;
    margin-bottom: 0.25em;
    position: relative;
}

.likeHeart::after{
    font-family: "Font Awesome 5 Free";
    content: "\f004";
    font-weight: 900;
    right: 0.03em;
    margin-top: 0.05em;
    display:flex;
    opacity: 0;
    color: #DB8876;
    position: absolute; 
    transform: scale(0.88,1);
    transition: opacity 300ms ease-in-out;
}

.likeHeart:hover::after, .likeHeart:focus::after{
    opacity: 1;
}




/*************************** Boutons Contact **********************************/  


.contact-button {
    box-sizing: content-box;
    font-size: 1.25em;
    font-weight: bold;
    color: white;
    background-color: #901C1C;
    border-radius: 0.3125em;
    cursor: pointer;
    position: relative;
    border: none;
}

.contact-button::after{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display:flex;
    flex-direction:row;
    align-items: center;
    justify-content: center;
    font-size: inherit;
    font-weight: bold;
    border: 2.75px solid black;
    border-radius: 0.3125em;
    opacity: 0;
    z-index: 1;
    transition: opacity 300ms ease-in-out;
}

.photograph-header .contact-button{
    font-size: 1.25em;
    transform: scaleX(1.1);
    padding: 1.3125em 0.6875em;
    margin-left: 1em;
    margin-right: 1em;
}

.photograph-header .contact-button::after{
    content: "Contactez-moi";
    color: black;
    background-color: #DB8876;
}

.contact-form .contact-button{
    font-size: 1.125em;
    padding: 1.4375em 3.1875em;    
}

.contact-form .contact-button::after{
    content: "Envoyer";
    color: #901C1C;
    background-color: #FAFAFA;
}

/* Ajout pour bouton au hover ou focus */
.contact-button:hover::after, .contact-button:focus::after {
    opacity: 1;
}




/***************************** Modal *************************************/

/*
.modal:focus{
    background-color: violet;
}

.modal__content:focus{
    background-color: yellowgreen;
}
*/

.modal__content {
    box-sizing: border-box;
    border-radius: 0.3125em;
    position: relative;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 2.1875em;
    margin: auto;
}

.closeBtn{
    display: block;
    position: absolute;
    right: 1.25em;
    top: 1.25em;
    background-image : url("../assets/icons/close.svg");
    background-repeat: no-repeat;
    width: 2.625em;
    cursor: pointer;
}

.modal header {
    justify-content: flex-start;
    width: 100%;
    margin-bottom: 3em;
}

.modal header img {
    cursor: pointer;
}

.modal header h2 {
    font-size: 3.5em;
    font-weight: normal;
    text-align: left;
}




/****************************** Modal ContactForm ********************************/


.modal--contact-form {
    background-color: #DB8876;
}

#contact-title {
    color: black;
    font-size: 3.5em;
    font-weight: normal;
    text-align: left;
}

.contact-form {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
}

.contact-form label {
    color: black;
    font-size: 2.25em;
}

.contact-form div {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: self-start;
    margin-bottom: 1.5em;
}

.contact-form .text, .contact-form .text-area {
    box-sizing: border-box;
    width: 100%;
    height: 4.25em;
    border: none;
    border-radius: 0.3125em;
    font-family: "DM Sans", sans-serif;
    font-size: 1.375em;
    padding: 0.5em;
}

.contact-form .text-area {
    width: 100%;
    height: 10.625em;
    resize: none;
}


/**** Validation / invalidation des champs du formulaire ****/

.formData[data-error]::after {
    content: attr(data-error);
    font-size: 1.25em;
    font-weight: bold;
    color: black;
    display: block;
    margin-top: 0.5em;
    text-align: left;
    opacity: 0;
    transition: 0.3s;
  }
  .formData[data-error-visible="true"]::after {
    opacity: 1;
  }
  .formData[data-error-visible="true"] .contact-form__input {
    border: 0.5em solid black;
  }




/******************************* Modal Lightbox ***********************************/


.modal--lightbox {
    display: flex;
    flex-direction: row;
   /* justify-content: space-between;*/
    width: 90%;
    position : relative;
    background-color: white;
}

.carousel {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content:center;
    align-items: center;
    border: 1px solid greenyellow;
}

.navBtn {
   /* border: 1px solid black;*/
    display: block;
    position: relative;
    background-image : url("../assets/icons/arrow_left.svg");
    width: 3.125em;
    height: 3.125em;
    background-repeat: no-repeat;
    opacity: 1;

}

.navBtn--hidden {
    opacity: 0;
}

.navBtn--prev {
    order: -1;
}

.navBtn--next{
    transform: rotate(180deg);
}