body {
    position: relative;
}

.modal {
    display: none;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 3;
    padding-top: 5.625em;
    background-color: rgba(196, 196, 196, 0.4);
}

.main--photographers{
    display: flex;
    flex-direction: column;
    align-items: center;
}



/* Elements avec cursor: pointer par défaut */
.closeBtn, .mediaWrapper.inMain .thumb-imgfull .thumb-img, .navBtn{
    cursor: pointer;
}




/*************************** Photograph Header *********************************/


.photograph-header {
    background-color: #FAFAFA;
    box-sizing: border-box;
    width: 85%;
    margin: 0 auto;
    padding: 3em 5em;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.photographer-profile, .user-container {
    flex: 1;
}
.photographer-profile h1 {
    font-size: 4em;
    font-weight: normal;
    margin: 0px;
}

.photographer-profile .text {
    margin: 0px;
}

.photograph-header .text-location {
    font-size: 1.5em;
    color: #901C1C;
}

.user-container {
    text-align: right;
}

.tagline {
    color: #525252
}




/************** Division Info contenant les informations supplémentaires en position fixe *****************/


#info {
    position: fixed;
    right: 20%;
    bottom: 0%;
    background-color: #DB8876;
    display: flex;
    flex-direction: row;
    border-radius: 0.3125em 0.3125em 0 0;
    z-index: 2;
}

#info p {
    color: black;
    font-weight: bold;
    margin: 1.5em 2em;
}

#info #totalLikes {
    text-align: right;
    margin-right: 0;
}

#info .fa-heart {
    display: flex;
    align-items: center;
}




/*******************  Division Sorting contenant la région de tri **************************/


.sorting {
    margin: 3.125em 6.25em;
    width: 85%;
    height: 4em;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

#listbox-label {
    font-size: 1.125em;
    font-weight: bold;
    margin-right: 1.25em;
    padding-top: 1em;
}

.listbox-container {
    position: relative;
}

.listbox {
    position: relative;
    font-size: 1.125em;
    font-weight: bold; 
    color: white;
    background-color: #901C1C;
    border-radius: 0.3125em;
    box-sizing: border-box;
    width: 10.625em;
    padding: 0.625em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    z-index: 1;
}

.listbox--close {
    height: 4.3125em;
}

.listbox--open {
    height: 10.625em;  
}

.expandBtn {
    cursor: pointer;
    position: absolute;
    right: 0.625em;
    top: 1.3125em;
    background-repeat: no-repeat;
    background-position: center;
    width: 2.25em;
    height: 2.25em;
    z-index: 2;
}

.expandBtn--more {
    background-image: url("../assets/icons/arrow_down.svg");
}
.expandBtn--less {
    transform: rotate(180deg);
}

.listbox .option {
    width: 100%;
    padding-top: 0.9375em;
    position: relative;
    opacity: 1;
}

.option.focusVisible {
    outline: none;
}

.listbox .option--selected {
    height: 33.33%;
    border: none;
}

.listbox .option--notSelected {
    display: none;
}

.listbox--open .option::after {
    color: black;
    background-color: #DB8876;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display:flex;
    flex-direction:row;
    align-items: center;
    justify-content: flex-start;
    font-size: inherit;
    font-weight: bold;
    box-sizing: border-box;
    margin-left: -0.625em;
    width: 10.625em;
    z-index: 2;
    opacity: 0;
    transition: opacity 100ms ease-in-out;
}

.listbox--open .option {
    cursor: pointer;
}

.listbox--open .option1::after {
    content: "Popularité";
    border-radius: 0.3125em 0.3125em 0 0;
    margin-top: -0.625em;
    height: 123%;
    padding: 0.625em 0.625em 0 0.625em;
}

.listbox--open .option2 {
    border-top: 0.0625em solid white;
    border-bottom: 0.0625em solid white ;
}

.listbox--open .option2::after {
    content: "Date";
    padding: 0 0.625em 0 0.625em;
    top: -0.0625em;
    height: 105%;
}

.listbox--open .option3::after {
    content: "Titre";
    border-radius: 0 0 0.3125em 0.3125em;
    margin-top: -0.0625em;
    margin-bottom: -0.625em;
    height: 123%;
    padding: 0.125em 0.625em 0.625em 0.625em;
}

.option:hover::after, .option:focus::after {
    opacity: 1;
}




/******************************** MediaWrapper = Conteneur des media **********************************/


.mediaWrapper {
    box-sizing: border-box;
    margin: 0 6.25em;
    display : flex;
    flex-direction: row;
}

.mediaWrapper.inMain {
    flex-flow: wrap row;
    justify-content: space-between;
    width: 85%;
    row-gap: 2em;
    column-gap: 1.5em;
    margin-bottom: 6em;;
}

.mediaWrapper.inLightbox {
    justify-content: flex-start;
    flex-wrap: nowrap;
    width: 85%;
    height: 100%;
    margin: 0%;
}

.thumb-imgfull {
    border-radius: 0.3125em;  
}

.thumb-imgfull.inMain {
    width: 10.938em;
}

/*Css pour écrans min 768px (petites tablettes) et supérieurs */
@media screen and (min-width: 768px) and (max-width: 991.98px) {
    .thumb-imgfull.inMain {
        width: 47%;
        min-width: 10.938em;
    }
  }
@media screen and (min-width: 992px) and (max-width: 1439.98px) {
    .thumb-imgfull.inMain {
        width: 47%; 
        min-width: 21.875em;
    }
}

@media screen and (min-width: 1440px) {
    .thumb-imgfull.inMain {
        width: 30%; 
        min-width: 21.875em;
    }
}
/***************************************************************/

.thumb-imgfull.inLightbox {
    width: 100%;
}

.thumb-img {
    width: 100%;
    border-radius: inherit;
}

.thumb-img--video video {
    object-fit: cover;
    border-radius: inherit;
}

.thumb-img--image {
    background-size: cover;
    background-position: center;
}

.thumb-img.inMain {
    height: 21.875em;
}

/* Css non adequat pour mobile : la responsivité mobile pour ce prototype n'est pas attendue */ 
@media screen and (max-width: 767.98px) {
    .thumb-img.inMain {
        width: 21.875em;
        height: 21.875em;
    }
}

/*Css pour écrans min 768px (petites tablettes) et supérieurs */
@media screen and (min-width: 768px) and (max-width: 991.98px) {
    .thumb-img.inMain {
        height: 21.875em;
        min-height: 70%;
    }
}

@media screen and (min-width: 992px) and (max-width: 1439.98px) {
    .thumb-img.inMain {
        height: 29.375em;
        min-height: 70%;
    }
}

@media screen and (min-width: 1440px) {
    .thumb-img.inMain {
        height: 21.875em;
        min-height: 90%;
    }
}
/***************************************************************/

.thumb-img.inLightbox {
    height: 60em;
}

.thumb-img video {
    width: inherit;
    height: 100%;
    border-radius: inherit;
}

.caption {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #901C1C;
    font-size: 1.5em;
    height: 2.5em;
}

.title-caption {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.like-caption-visible {
    display: flex;
}

.fas {
    display: block;
    width: 1.5em;
    transform: scale(0.88,1);
}

.likeHeart, .liked {
    height: 100%;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: right;
    margin-bottom: 0.25em;
    position: relative;
}

.liked::after {
    font-family: "Font Awesome 5 Free";
    content: "\f004";
    font-weight: 900;
    right: 0.03em;
    margin-top: 0.05em;
    display:flex;
    opacity: 1;
    color: #DB8876;
    position: absolute; 
    transform: scale(0.88,1);
    transition: opacity 300ms ease-in-out;
}




/*************************** Boutons Contact **********************************/  


.contact-button {
    box-sizing: content-box;
    font-size: 1.25em;
    font-weight: bold;
    color: white;
    background-color: #901C1C;
    border-radius: 0.3125em;
    cursor: pointer;
    position: relative;
    border: none;
}
.contact-button:focus {
    outline : 5px solid black;
    border-radius:  0.3125em;
}

.contact-button::after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display:flex;
    flex-direction:row;
    align-items: center;
    justify-content: center;
    font-size: inherit;
    font-weight: bold;
    border: 2.75px solid black;
    border-radius: 0.3125em;
    opacity: 0;
    z-index: 1;
    transition: opacity 300ms ease-in-out;
}

.photograph-header .contact-button {
    font-size: 1.25em;
    transform: scaleX(1.1);
    padding: 1.3125em 0.6875em;
    margin-left: 1em;
    margin-right: 1em;
}

.photograph-header .contact-button::after {
    content: "Contactez-moi";
    color: black;
    background-color: #DB8876;
}

.contact-form .contact-button {
    font-size: 1.375em;
    padding: 1.4375em 3.1875em;    
}

.contact-form .contact-button::after {
    content: "Envoyer";
    color: #901C1C;
    background-color: #FAFAFA;
}

.contact-button:hover::after {
    opacity: 1;
}




/***************************** Modale *************************************/

.modal--close {
    display: none;
}

.modal--open {
    display: block;
}

.modal__content {
    box-sizing: border-box;
    border-radius: 0.3125em;
    position: relative;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 2.1875em;
    margin: auto;
}

.closeBtn {
    display: block;
    position: absolute;
    right: 2em;
    top: 2em;
    background-image : url("../assets/icons/close.svg");
    background-repeat: no-repeat;
    width: 2.625em;
    cursor: pointer;
}

.closeBtn:focus, .closeBtn:hover {
    outline : 5px solid black;
    border-radius:  0.3125em;
}

.modal header {
    justify-content: flex-start;
    width: 100%;
    margin-bottom: 3em;
}

.modal header img {
    cursor: pointer;
}

.modal header h2 {
    font-size: 3.5em;
    font-weight: normal;
    text-align: left;
}




/****************************** Modale ContactForm ********************************/


#contact-modal {
    height: 100%;
}

@media screen and (min-width: 768px) and (max-width: 991.98px) {
    #contact-modal .modal__content {
        width: 75%;
    }
}

@media screen and (min-width: 992px) and (max-width: 1443.98px) {
    #contact-modal .modal__content {
        width: 65%;
    }
}

.modal--contact-form {
    background-color: #DB8876;
}

.modal--contact-form header {
    margin-bottom: 5em;
}

#contact-title {
    margin-top: 1.25em;
    color: black;
    font-size: 3.5em;
    font-weight: normal;
    text-align: left;
}

.contact-form {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
}

.formField__label {
    color: black;
    font-size: 2.25em;
}

.contact-form div {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: self-start;
    margin-bottom: 1.5em;
}

.contact-form .text, .contact-form .text-area {
    box-sizing: border-box;
    width: 100%;
    height: 3em;
    border: none;
    border-radius: 0.3125em;
    font-family: "DM Sans", sans-serif;
    font-size: 1.875em;
    padding: 0.5em;
}

.contact-form .text-area {
    width: 100%;
    height: 10.625em;
    padding-top: 1em;
    resize: none;
}

.contact-form .text:focus , .contact-form .text-area:focus {
    outline: 4px solid #901C1C;
}




/************* Validation / invalidation des champs du formulaire *****************/


  .formField[data-error-visible="true"] .formField__input {
    border: 0.5em solid black;
  }

 
  .formField[data-error-visible="true"] .formField__data-error {
    font-size: 1.25em;
    font-weight: bold;
    color: black;
    display: block;
    margin-top: 0.5em;
    text-align: left;
  }
 
 


/******************************* Modale Lightbox ***********************************/


#lighbox_modal {
    height: auto;
}

.modal--lightbox {
    display: flex;
    flex-direction: row;
    width: 90%;
    position : relative;
    background-color: white;
}

.carousel {
    margin-top: 5em;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content:center;
    align-items: center;
}

.navBtn {
    display: block;
    position: relative;
    background-image : url("../assets/icons/arrow_left.svg");
    width: 3.125em;
    height: 3.125em;
    background-repeat: no-repeat;
    opacity: 1;
}

.navBtn:focus {
    outline : 4px solid blue;
    border-radius:  0.3125em;
}

.navBtn--hidden {
    opacity: 0;
}

.navBtn--prev {
    order: -1;
}

.navBtn--next{
    transform: rotate(180deg);
}